@page
@model IndexModel
@inject IHtmlLocalizer<IndexModel> HtmlLocalizer
@{
    ViewData["Title"] = "Home page";
}
<MyTable data="GetNomenclatures()" columns="Name,Price" />
<button onclick="fillTable()">Fill Table</button>
<table class="table">
    <thead>
        <tr>
            <th>
               Name
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="nomenclatureTBody">
  
    </tbody>
</table>